.ant-page-header-ghost {
    height: inherit;
}

.ant-progress-text {
    color: #FFFFFF;
}

.ant-page-header-heading-extra {
    padding-top: 10px;
}

.ant-statistic-content-value {
    color: #FFFFFF;
}