.ant-layout-sider-children {
    background-color: #FFFFFF;
    padding-top: 12px;
    /*border-bottom: 1px solid #f0f2f5;*/
}

.ant-timeline-item-last .ant-timeline-item-content{
    min-height: 0px;
}

.ant-timeline {
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-left: 12px;
}

.ant-timeline-item {
    padding-bottom: 26px;
}

.ant-timeline-item-last {
    padding-bottom: 0px;
}